* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    font-family: Montserrat, sans-serif;
    background-color: #636e72 !important;
}

h1 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 50px 50px;
}

.container {
    text-align: center;
    
}

